/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

/*! icon font | https://icomoon.io */
@font-face{font-family:'icomoon';src:url(../fonts/icomoon.ttf?f6c5ff) format("truetype"),url(../fonts/icomoon.woff?f6c5ff) format("woff"),url(../fonts/icomoon.svg?f6c5ff#icomoon) format("svg");font-weight:400;font-style:normal}.icon{font-family:'icomoon'!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-github:before{content:"\eab0"}.icon-instagram:before{content:"\ea92"}.icon-twitter:before{content:"\ea96"}.icon-envelope-o:before{content:"\e900"}

html,
body {
	height: 100%;
}

body.home {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	background-image: -webkit-linear-gradient(bottom, rgba(251, 194, 235, 0.6) 0%, rgba(166, 193, 238, 0.6) 100%), url('../images/code-screen.jpg');
	background-image: -o-linear-gradient(bottom, rgba(251, 194, 235, 0.6) 0%, rgba(166, 193, 238, 0.6) 100%), url('../images/code-screen.jpg');
	background-image: linear-gradient(to top, rgba(251, 194, 235, 0.6) 0%, rgba(166, 193, 238, 0.6) 100%), url('../images/code-screen.jpg');
	background-size: cover;
	background-attachment: fixed;
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper {
	display: flex;
	align-items: center;
	align-content: center;
	min-height: 100%;
	padding: 1rem;
}

.card {
	text-align: center;
	max-width: 18rem;
	margin: 0 auto;
	padding: 2rem;
	border-radius: 0.25rem;
	background-color: #fff;
}

.avatar img {
	display: block;
	width: 6rem;
	height: 6rem;
	margin: 0 auto;
}

.about {
	color: #555;
	line-height: 1.4;
}

.name {
	font-size: 2rem;
}

.links {
	display: flex;
	flex-direction: column;
}

.links a {
	color: #7d7d7d;
	vertical-align: middle;
	padding: 0.75rem 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	transition: all 0.4s;
}

.links a:hover {
	color: #2a7fff;
	font-weight: bold;
}

.links a:after {
	content: '';
	display: block;
	height: 2px;
	width: 10%;
	position: relative;
	top: 0.5rem;
	margin: 0 auto;
	background-color: #7d7d7d;
	transition: all 0.4s;
}

.links a:hover:after {
	background-color: #2a7fff;
	width: 25%;
}

.social {
	display: flex;
	justify-content: center;
}

.social a {
	font-size: 1rem;
	color: white;
	margin: 0 0.25rem;
	padding: 0.5em 0.75em;
	border-radius: 0.25rem;
	opacity: 0.8;
	transition: opacity 0.4s;
}

.social a:focus,
.social a:hover {
	opacity: 1;
}

.github {
	background-color: #222;
}

.twitter {
	background-color: #2aa9e0;
}

.instagram {
	background-color: #5f50c7;
}

.email {
	background-color: #F5AB35;
}

.email .icon {
	position: relative;
	top: -1px;
}

.copyright {
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-top: 2rem;
	opacity: 0.5;
}

.copyright a {
	text-decoration: underline;
}

.name,
.bio {
	margin-top: .75rem;
}

.social {
	margin-top: 2rem;
}

@media (min-width: 30em) {
	.card {
		max-width: 22rem;
	}
}

@media (min-width: 60em) {
	.social a {
		font-size: 0.8rem;
	}
}
