/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}

/*! Microtip | MIT License | github.com/ghosh/microtip */
[aria-label][role~="tooltip"] {
  position: relative;
}
[aria-label][role~="tooltip"]:before,
[aria-label][role~="tooltip"]:after {
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  opacity: 0;
  pointer-events: none;
  transition: all var(--microtip-transition-duration, 0.18s)
    var(--microtip-transition-easing, ease-in-out)
    var(--microtip-transition-delay, 0s);
  position: absolute;
  box-sizing: border-box;
  z-index: 10;
  transform-origin: top;
}
[aria-label][role~="tooltip"]:before {
  background-size: 100% auto !important;
  content: "";
}
[aria-label][role~="tooltip"]:after {
  background: rgba(17, 17, 17, 0.9);
  border-radius: 4px;
  color: #fff;
  content: attr(aria-label);
  font-size: var(--microtip-font-size, 13px);
  font-weight: var(--microtip-font-weight, normal);
  text-transform: var(--microtip-text-transform, none);
  padding: 0.5em 1em;
  white-space: nowrap;
  box-sizing: content-box;
}
[aria-label][role~="tooltip"]:hover:before,
[aria-label][role~="tooltip"]:hover:after,
[aria-label][role~="tooltip"]:focus:before,
[aria-label][role~="tooltip"]:focus:after {
  opacity: 1;
  pointer-events: auto;
}
[role~="tooltip"][data-microtip-position|="top"]:before {
  background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E)
    no-repeat;
  height: 6px;
  width: 18px;
  margin-bottom: 5px;
}
[role~="tooltip"][data-microtip-position|="top"]:after {
  margin-bottom: 11px;
}
[role~="tooltip"][data-microtip-position|="top"]:before {
  transform: translate3d(-50%, 0, 0);
  bottom: 100%;
  left: 50%;
}
[role~="tooltip"][data-microtip-position|="top"]:hover:before {
  transform: translate3d(-50%, -5px, 0);
}
[role~="tooltip"][data-microtip-position|="top"]:after {
  transform: translate3d(-50%, 0, 0);
  bottom: 100%;
  left: 50%;
}
[role~="tooltip"][data-microtip-position="top"]:hover:after {
  transform: translate3d(-50%, -5px, 0);
}
[role~="tooltip"][data-microtip-position="top-left"]:after {
  transform: translate3d(calc(-100% + 16px), 0, 0);
  bottom: 100%;
}
[role~="tooltip"][data-microtip-position="top-left"]:hover:after {
  transform: translate3d(calc(-100% + 16px), -5px, 0);
}
[role~="tooltip"][data-microtip-position="top-right"]:after {
  transform: translate3d(calc(0% + -16px), 0, 0);
  bottom: 100%;
}
[role~="tooltip"][data-microtip-position="top-right"]:hover:after {
  transform: translate3d(calc(0% + -16px), -5px, 0);
}
[role~="tooltip"][data-microtip-position|="bottom"]:before {
  background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E)
    no-repeat;
  height: 6px;
  width: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}
[role~="tooltip"][data-microtip-position|="bottom"]:after {
  margin-top: 11px;
}
[role~="tooltip"][data-microtip-position|="bottom"]:before {
  transform: translate3d(-50%, -10px, 0);
  bottom: auto;
  left: 50%;
  top: 100%;
}
[role~="tooltip"][data-microtip-position|="bottom"]:hover:before {
  transform: translate3d(-50%, 0, 0);
}
[role~="tooltip"][data-microtip-position|="bottom"]:after {
  transform: translate3d(-50%, -10px, 0);
  top: 100%;
  left: 50%;
}
[role~="tooltip"][data-microtip-position="bottom"]:hover:after {
  transform: translate3d(-50%, 0, 0);
}
[role~="tooltip"][data-microtip-position="bottom-left"]:after {
  transform: translate3d(calc(-100% + 16px), -10px, 0);
  top: 100%;
}
[role~="tooltip"][data-microtip-position="bottom-left"]:hover:after {
  transform: translate3d(calc(-100% + 16px), 0, 0);
}
[role~="tooltip"][data-microtip-position="bottom-right"]:after {
  transform: translate3d(calc(0% + -16px), -10px, 0);
  top: 100%;
}
[role~="tooltip"][data-microtip-position="bottom-right"]:hover:after {
  transform: translate3d(calc(0% + -16px), 0, 0);
}
[role~="tooltip"][data-microtip-position="left"]:before,
[role~="tooltip"][data-microtip-position="left"]:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  transform: translate3d(10px, -50%, 0);
}
[role~="tooltip"][data-microtip-position="left"]:before {
  background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E)
    no-repeat;
  height: 18px;
  width: 6px;
  margin-right: 5px;
  margin-bottom: 0;
}
[role~="tooltip"][data-microtip-position="left"]:after {
  margin-right: 11px;
}
[role~="tooltip"][data-microtip-position="left"]:hover:before,
[role~="tooltip"][data-microtip-position="left"]:hover:after {
  transform: translate3d(0, -50%, 0);
}
[role~="tooltip"][data-microtip-position="right"]:before,
[role~="tooltip"][data-microtip-position="right"]:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  transform: translate3d(-10px, -50%, 0);
}
[role~="tooltip"][data-microtip-position="right"]:before {
  background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E)
    no-repeat;
  height: 18px;
  width: 6px;
  margin-bottom: 0;
  margin-left: 5px;
}
[role~="tooltip"][data-microtip-position="right"]:after {
  margin-left: 11px;
}
[role~="tooltip"][data-microtip-position="right"]:hover:before,
[role~="tooltip"][data-microtip-position="right"]:hover:after {
  transform: translate3d(0, -50%, 0);
}
[role~="tooltip"][data-microtip-size="small"]:after {
  white-space: initial;
  width: 80px;
}
[role~="tooltip"][data-microtip-size="medium"]:after {
  white-space: initial;
  width: 150px;
}
[role~="tooltip"][data-microtip-size="large"]:after {
  white-space: initial;
  width: 260px;
}

/*! icon font | https://icomoon.io */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?pmvxdo") format("truetype"),
    url("../fonts/icomoon.woff?pmvxdo") format("woff"),
    url("../fonts/icomoon.svg?pmvxdo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f113";
}
.icon-codepen:before {
  content: "\f1cb";
}

html,
body {
  height: 100%;
  color: #343a40;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
      to top,
      rgba(251, 194, 235, 0.6) 0%,
      rgba(166, 193, 238, 0.6) 100%
    ),
    url("../images/code-screen.jpg");
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  transition: color 200ms;
}

svg {
  width: 1em;
  height: 1em;
}

.screen-reader-text {
  position: absolute !important;
  left: -999em;
}

.wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 100%;
  padding: 1rem;
}

.card {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: #fff;
}

.about {
  line-height: 1.4;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
}

p,
.name {
  margin-top: 0.75rem;
}

.bio {
  font-style: italic;
}

.email {
  letter-spacing: 0.05em;
  opacity: 0.8;
  font-weight: bold;
  text-decoration: none;
}

.payment-buttons,
.links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}

.links a {
  color: #6f6f6f;
  font-weight: bold;
  vertical-align: middle;
  padding: 0.75rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.4s;
  text-decoration: none;
  width: 100%;
}

.email:hover,
.email:focus,
.links a:hover,
.links a:focus {
  color: #2a7fff;
}

.links a:after {
  content: "";
  display: block;
  height: 2px;
  width: 10%;
  position: relative;
  top: 0.5rem;
  margin: 0 auto;
  background-color: #7d7d7d;
  transition: all 0.4s;
}

.links a:hover:after {
  background-color: #2a7fff;
  width: 25%;
}

.payment-buttons a {
  text-decoration: none;
  background-color: #303030;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  max-width: 90%;
  width: 100%;
  transition: transform 250ms;
}

.payment-buttons a:active,
.payment-buttons a:hover,
.payment-buttons a:focus {
  transform: scale(1.075);
}

.payment-buttons svg {
  transform: translateY(3px);
}

.payment-buttons a#paypal {
  background-color: #2790c3;
}

.payment-buttons a#pix {
  background-color: #30b6a8;
}

.payment-buttons .tip {
  font-size: 90%;
  font-style: italic;
  opacity: 0.8;
}

.pix-qrcode {
  width: 16rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.75rem;
  border: 3px dashed #868e96;
}

.pix-qrcode img {
  max-width: 100%;
  width: 100%;
}

.pix-key {
  width: 100%;
  text-align: center;
  font-family: monospace;
  font-size: 12px;
  padding: 1em;
  background-color: #e9ecef;
  border: 0;
  letter-spacing: 0.05em;
}

.pix-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2a7fff;
  margin-top: 0.5rem;
  padding: 0.5em;
  background-color: #f0f9ff;
}

.pix-copy svg {
  margin-right: 0.25rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.social a {
  min-width: 40px;
  font-size: 1rem;
  color: white;
  margin: 0.25rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25rem;
  opacity: 0.8;
  transition: opacity 0.4s;
  text-decoration: none;
}

.social a:focus,
.social a:hover {
  opacity: 1;
}

.github {
  background-color: #222;
}

.twitter {
  background-color: #2aa9e0;
}

.facebook {
  background-color: #3b5ca0;
}

.codepen {
  background-color: #111;
}

.footer {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-top: 2rem;
  opacity: 0.75;
}

.bg-copyright {
  font-size: 0.65rem;
  padding: 0.5rem;
}

.lang {
  display: flex;
  justify-content: center;
}

.lang a {
  padding: 0.5rem;
}

@media (min-width: 30em) {
  .card {
    max-width: 22rem;
  }
}
